In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns',None)

In [2]:
pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ucimlrepo in /home/vscode/.local/lib/python3.11/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /home/vscode/.local/lib/python3.11/site-packages (from ucimlrepo) (2.3.3)
Requirement already satisfied: certifi>=2020.12.5 in /home/vscode/.local/lib/python3.11/site-packages (from ucimlrepo) (2026.1.4)
Requirement already satisfied: numpy>=1.23.2 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.3)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)

[notice] A new release of pip is available: 23.1.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
from ucimlrepo import fetch_ucirepo

In [20]:
main_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pycon-2016-tutorial/master/data/sms.tsv'
                      ,sep='\t')

In [21]:
main_df

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...
...,...,...
5566,spam,This is the 2nd time we have tried 2 contact u...
5567,ham,Will ü b going to esplanade fr home?
5568,ham,"Pity, * was in mood for that. So...any other s..."
5569,ham,The guy did some bitching but I acted like i'd...
5570,ham,Rofl. Its true to its name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   word_freq_make              4601 non-null   float64
 1   word_freq_address           4601 non-null   float64
 2   word_freq_all               4601 non-null   float64
 3   word_freq_3d                4601 non-null   float64
 4   word_freq_our               4601 non-null   float64
 5   word_freq_over              4601 non-null   float64
 6   word_freq_remove            4601 non-null   float64
 7   word_freq_internet          4601 non-null   float64
 8   word_freq_order             4601 non-null   float64
 9   word_freq_mail              4601 non-null   float64
 10  word_freq_receive           4601 non-null   float64
 11  word_freq_will              4601 non-null   float64
 12  word_freq_people            4601 non-null   float64
 13  word_freq_report            4601 non-null   float64
 14  word_freq_addresses         4601 non-null   float64
 15  word_freq_free              4601 non-null   float64
 16  word_freq_business          4601 non-null   float64
 17  word_freq_email             4601 non-null   float64
 18  word_freq_you               4601 non-null   float64
 19  word_freq_credit            4601 non-null   float64
 20  word_freq_your              4601 non-null   float64
 21  word_freq_font              4601 non-null   float64
 22  word_freq_000               4601 non-null   float64
 23  word_freq_money             4601 non-null   float64
 24  word_freq_hp                4601 non-null   float64
 25  word_freq_hpl               4601 non-null   float64
 26  word_freq_george            4601 non-null   float64
 27  word_freq_650               4601 non-null   float64
 28  word_freq_lab               4601 non-null   float64
 29  word_freq_labs              4601 non-null   float64
 30  word_freq_telnet            4601 non-null   float64
 31  word_freq_857               4601 non-null   float64
 32  word_freq_data              4601 non-null   float64
 33  word_freq_415               4601 non-null   float64
 34  word_freq_85                4601 non-null   float64
 35  word_freq_technology        4601 non-null   float64
 36  word_freq_1999              4601 non-null   float64
 37  word_freq_parts             4601 non-null   float64
 38  word_freq_pm                4601 non-null   float64
 39  word_freq_direct            4601 non-null   float64
 40  word_freq_cs                4601 non-null   float64
 41  word_freq_meeting           4601 non-null   float64
 42  word_freq_original          4601 non-null   float64
 43  word_freq_project           4601 non-null   float64
 44  word_freq_re                4601 non-null   float64
 45  word_freq_edu               4601 non-null   float64
 46  word_freq_table             4601 non-null   float64
 47  word_freq_conference        4601 non-null   float64
 48  char_freq_;                 4601 non-null   float64
 49  char_freq_(                 4601 non-null   float64
 50  char_freq_[                 4601 non-null   float64
 51  char_freq_!                 4601 non-null   float64
 52  char_freq_$                 4601 non-null   float64
 53  char_freq_#                 4601 non-null   float64
 54  capital_run_length_average  4601 non-null   float64
 55  capital_run_length_longest  4601 non-null   int64
 56  capital_run_length_total    4601 non-null   int64
dtypes: float64(55), int64(2)
memory usage: 2.0 MB

In [23]:
main_df = main_df.rename(columns={'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'\
                                  :'target'})

In [25]:
main_df.head()

    ham                                             target
0   ham                      Ok lar... Joking wif u oni...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  U dun say so early hor... U c already then say...
3   ham  Nah I don't think he goes to usf, he lives aro...
4  spam  FreeMsg Hey there darling it's been 3 week's n...

In [26]:
main_df['target']

0                           Ok lar... Joking wif u oni...
1       Free entry in 2 a wkly comp to win FA Cup fina...
2       U dun say so early hor... U c already then say...
3       Nah I don't think he goes to usf, he lives aro...
4       FreeMsg Hey there darling it's been 3 week's n...
                              ...
5566    This is the 2nd time we have tried 2 contact u...
5567                 Will ü b going to esplanade fr home?
5568    Pity, * was in mood for that. So...any other s...
5569    The guy did some bitching but I acted like i'd...
5570                           Rofl. Its true to its name
Name: target, Length: 5571, dtype: object

In [29]:
main_df['target'] = main_df['target'].str.strip().str.lower()

In [30]:
main_df['target']

0                           ok lar... joking wif u oni...
1       free entry in 2 a wkly comp to win fa cup fina...
2       u dun say so early hor... u c already then say...
3       nah i don't think he goes to usf, he lives aro...
4       freemsg hey there darling it's been 3 week's n...
                              ...
5566    this is the 2nd time we have tried 2 contact u...
5567                 will ü b going to esplanade fr home?
5568    pity, * was in mood for that. so...any other s...
5569    the guy did some bitching but i acted like i'd...
5570                           rofl. its true to its name
Name: target, Length: 5571, dtype: object

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
main_df['ham'].value_counts()

ham
ham     4824
spam     747
Name: count, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

In [41]:
x = main_df[['target']]
y = main_df[['ham']]
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [42]:
x_train

                                                 target
3924                          how? izzit still raining?
1930                carry on not disturbing both of you
448          lol ... have you made plans for new years?
3770  love it! the girls at the office may wonder wh...
3017  one of the joys in lifeis waking up each daywi...
...                                                 ...
404   yep, the great loxahatchee xmas tree burning o...
2863  ok that would b lovely, if u r sure. think abo...
1929  free 1st week entry 2 textpod 4 a chance 2 win...
2780  long after i quit. i get on only like 5 minute...
4434  sounds great! im going to sleep now. have a go...

[4178 rows x 1 columns]

In [43]:
x_test

                                                 target
64    as a valued customer, i am pleased to advise y...
3851             we have all rounder:)so not required:)
2261  did you show him and wot did he say or could u...
729                                   dunno y u ask me.
5551  have a safe trip to nigeria. wish you happines...
...                                                 ...
4563  come around  &lt;decimal&gt; pm vikky..i'm ots...
4536  never blame a day in ur life. good days give u...
1799       if we hit it off, you can move in with me :)
1031                                  yup bathe liao...
4691  surly ill give it to you:-) while coming to re...

[1393 rows x 1 columns]

In [44]:
y_train

       ham
3924   ham
1930   ham
448    ham
3770   ham
3017   ham
...    ...
404    ham
2863   ham
1929  spam
2780   ham
4434   ham

[4178 rows x 1 columns]

In [45]:
y_test

       ham
64    spam
3851   ham
2261   ham
729    ham
5551   ham
...    ...
4563   ham
4536   ham
1799   ham
1031   ham
4691   ham

[1393 rows x 1 columns]

In [46]:
vec_model = CountVectorizer()

In [47]:
x_train_vec=vec_model.fit_transform(x_train['target']).toarray()
# toarray soyle 10000 kolon var mesela ama cogu 0 ya onlari gostermiyo

In [48]:
x_train_vec

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4178, 7483))